div.test button.custom:hover {
    background-color: rgb(230, 205, 122) !important;
}

div.test button.custom:focus {
    background-color: rgb(230, 205, 122) !important;
}

.rounded-circle {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
}